{% include 'navigations/side_nav.html' %}



{% block content %}

<div class="page-wrapper">
    <div class="content">
        <div class="row">
           <div class="col-sm-4 col-3">
                <h4 class="page-title">Add Doctor</h4>
            </div>
            <div class="col-sm-8 col-9 text-right m-b-20">
                <a href="{% url 'DoctorConsultation:doctor_list_view' %}" class="btn btn-primary float-right btn-rounded">Doctors List</a>
            </div>
        </div>

        {% if error %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Warning!</strong> {{ error }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
        {% endif %}

         {% if success %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Success!</strong> {{ success }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
        {% endif %}


        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form  action="{% url 'DoctorConsultation:doctor_add_view' %}" enctype="multipart/form-data"  method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Name <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" name="name" required="required">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Experience <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" name='experience'>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Consultation Fee <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" name='consultationFee'>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Phone No. <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" name='phone'>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Address <span class="text-danger">*</span></label>
                                <input class="form-control" type="text" name='address'>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label >Time Slots Availability:</label>
                                  <select multiple class="form-control" name="timeSlots">
                                    {% for time in times %}
                                        <option value="{{ time.id }}">{{ time.timeslots }}</option>
                                    {% endfor %}
                                    
                                  </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label >Department:</label>
                                  <select class="form-control"  name="speciality">
                                    {% for spec in specObj %}
                                        <option value="{{ spec.id }}">{{ spec.name }}</option>
                                    {% endfor %}
                                  </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Upload Document: <span class="text-danger">*</span></label>
                                <div>
                                    <input name="uploadDocument" class="with-border" type="file">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary submit-btn">Create Doctor</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
