{% include 'navigations/side_nav.html' %}



{% block content %}

  <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-5 col-5">
                        <h4 class="page-title">SubCategory</h4>
                    </div>
                    <div class="col-sm-7 col-7 text-right m-b-30">
                        <a href="{% url 'CategoryAndSubCategory:subcategory_add' %}" class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i> Add SubCategory</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table mb-0 datatable">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>SubCategory Name</th>
                                        <th>Category</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for subcategoryObj in subcategoryObjs %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ subcategoryObj.subCategoryName}}</td>
                                        <td>{{ subcategoryObj.category.categoryName}}</td>
                                       <td class="text-right">
                                            <a href="{% url 'CategoryAndSubCategory:subcategory_update' pk=subcategoryObj.pk %}" class="btn btn-primary a-btn-slide-text" style="background-color:#00e676;color:white;">
                                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                                <span><strong>Edit</strong></span>            
                                            </a>
                                        </td>

                                    </tr>

                                    {% endfor %}
                                   
                                   
                                   
                                  
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>

{% endblock %}